<?xml version="1.0" encoding="utf-8"?><!-- Zuletzt geändert von Vivien Stumpe am 04.04.16 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.app.mepa.mepa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.app.mepa.menu.Menu" />
        <activity android:name="de.app.mepa.stammdaten.Stammdaten" />
        <activity android:name="de.app.mepa.einstellungen.Einstellungen" />
        <activity android:name="de.app.mepa.falleingabe.Falleingabe" />
        <activity android:name="de.app.mepa.impressum.Impressum" />
        <activity android:name="de.app.mepa.falluebersicht.Falluebersicht" />
        <activity android:name="de.app.mepa.pers_daten.Pers_daten" />
        <activity android:name="de.app.mepa.notfallsituation.notfallsituation" />
        <activity android:name="de.app.mepa.verletzung.Verletzung"></activity>
        <activity android:name="de.app.mepa.erkrankung.Erkrankung" />
        <activity android:name="de.app.mepa.massnahmen.Maßnahmen" />
    </application>

</manifest>
