<?xml version="1.0" encoding="utf-8"?>
<!-- Zuletzt geändert von Vivien Stumpe am 25.04.16 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.app.mepa.mepa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="de.app.mepa.menu.Menu" />
        <activity android:name="de.app.mepa.stammdaten.Stammdaten"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name="de.app.mepa.einstellungen.Einstellungen"
            android:label=""
            android:screenOrientation="portrait"/>
        <!-- Vivien Stumpe, 25.04.16
        Falleingabe ist die Startseite -->
        <activity android:name="de.app.mepa.falleingabe.Falleingabe"
            android:label=""
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name="de.app.mepa.impressum.Impressum" 
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name="de.app.mepa.falluebersicht.Falluebersicht" 
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name="de.app.mepa.pers_daten.Pers_daten"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name="de.app.mepa.notfallsituation.notfallsituation"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name="de.app.mepa.verletzung.Verletzung"
            android:label=""
            android:screenOrientation="portrait"></activity>
        <activity android:name="de.app.mepa.erkrankung.Erkrankung"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name="de.app.mepa.massnahmen.Massnahmen"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name="de.app.mepa.erstbefund.Erstbefund"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name="de.app.mepa.ersthelfermassnahmen.Ersthelfermassnahmen"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name="de.app.mepa.bemerkung.Bemerkung"
			android:label=""
            android:screenOrientation="portrait"/>
        <!--Nathalie Horn am 13.04.16 -->
        <activity android:name="de.app.mepa.upload.Upload" android:label=""
            android:screenOrientation="portrait"/>
        <!-- Nathalie Horn am 18.04.16 -->
        <activity android:name="de.app.mepa.mitarbeiterkonfig.Mitarbeiterkonfig" android:label=""
            android:screenOrientation="portrait"/>
    </application>

</manifest>
